# Copier ce fichier en .env.local (Expo charge automatiquement les variables EXPO_PUBLIC_*)
EXPO_PUBLIC_SUPABASE_URL=https://xxxxxxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJxxxxx...
EXPO_PUBLIC_MAPTILER_KEY=xxxxxxxx
